<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.rtl.min.css" integrity="sha384-Xbg45MqvDIk1e563NLpGEulpX6AvL404DP+/iCgW9eFa2BqztiwTexswJo2jLMue" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title th:text="${title}">Base html</title>
  </head>
  <body>
	  
<!--navbar-->
 <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart Contact Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        
        <li class="nav-item me-1">
          <span class="nav-link text-white" th:text="${user.name}">User</span>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<!--end of navbar-->
  

   
  <!-- this is sidebar -->
  <div class="sidebar mt-2">
	  
	  <span onClick = "toggleSidebar()" class="crossBtn">&times;</span>
	  
	  <a href="#" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house"></i> Home</a>
	   <a th:href="@{/user/show-contacts}" class="item"><i class="fa-regular fa-address-book"></i> View Contacts</a>
	   <a th:href="@{/user/add-contact}" class="item"><i class="fa-solid fa-plus"></i> Add Contact</a>
	   <a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
	   <a href="#" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
	   <a href="#" th:href="@{/logout}" class="item"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
	   <div class="divider"></div>
  </div>
  <!--end sidebar-->
  
 <!-- Content -->
  <div class="content mt-5">
    <i class="fa-solid fa-bars m-3 text-dark" onclick="toggleSidebar()"></i>
    
     <!-- Message Box -->
    <div th:if="${message}" class="Container">
        <div th:classappend="${'alert-' + message.type}" class="alert alert-success text-center">
        <span th:text="${message.content}"></span>
      </div>
    </div>

    <div th:replace="${content}"></div>
</div>
  <!--end content area-->
   
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
     <script th:src="@{/js/script.js}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
    -->
  </body>
</html>