section{
	background-color: #e2e2e2!important;
}

.bg-primary{
	background: #009688 !important;
}

.banner{
	width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/banners.jpg);
    background-size: cover;
    background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
   
}

.my-card{
	padding: 20px;
	background: #ffffff;
}

/*login page css*/
/* login page css */
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
  color: white;
}

#login .container #login-row #login-column #login-box {
  max-width: 600px;
  border: 2px solid white;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

#login-form label {
  color: white;
}

.custom-input {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.custom-input:focus {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
}

#register-link a {
  color: #00bcd4;
}

.alert {
  margin-top: 15px;
}


/* side bar style */

@media only screen and(max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	
	.content{
		margin-left: 0% !important;
	}
}

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	 display: none; /* Hide sidebar by default */
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover{
	background: #e2e2e2;
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

content{
	margin-left:20%;
}

.sidebar .crossBtn{
	position: absolute;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
    color: black;
    top: 4px;
}
